<!DOCTYPE html>
<html>
<head>
  <title>Task Manager</title>
</head>
<body>
  <%- include('partials/header') %>
  <%- include('partials/nav') %>
  <main>
    <%- body %>
  </main>
  <%- include('partials/footer') %>
</body>
</html>