<!DOCTYPE html>
<html>
<head>
  <title>Task Manager</title>
</head>
<body>
  {{> header}}
  {{> nav}}
  {{{body}}}
  {{> footer}}
  {{#if success}}
  <p style="color: green;">{{success}}</p>
{{/if}}

{{#if error}}
  <p style="color: red;">{{error}}</p>
{{/if}}
</body>
</html>